Repository parameter1/ab-media-websites, pull requests merged in 2021-09, with the labels that each got.

#11 Update site header to support multiple layouts.
  packages/global/components/document.marko
  packages/global/components/marko.json
  packages/global/components/site-header-2.marko
  packages/global/scss/_variables.scss
  packages/global/scss/components/_site-navbar.scss
  packages/global/scss/components/_site-navbar2.scss
  packages/global/scss/core.scss
  sites/aquamagazine.com/config/navigation.js
  sites/aquamagazine.com/server/styles/index.scss
  sites/athleticbusiness.com/config/navigation.js
  sites/athleticbusiness.com/server/styles/index.scss
  sites/woodfloorbusiness.com/config/navigation.js
  sites/woodfloorbusiness.com/server/styles/index.scss
Labels: 🌐 site: ALL

#14 Tweak & configure new header
  packages/global/components/site-header-2.marko
  packages/global/scss/_variables.scss
  packages/global/scss/components/_site-navbar2.scss
  sites/aquamagazine.com/config/navigation.js
  sites/aquamagazine.com/config/site.js
  sites/athleticbusiness.com/config/navigation.js
  sites/athleticbusiness.com/config/site.js
  sites/woodfloorbusiness.com/config/navigation.js
  sites/woodfloorbusiness.com/config/site.js
Labels: 🌐 site: ALL

#13 Add channel ad units, key value pairs
  packages/global/components/layouts/content/wrapper.marko
  sites/aquamagazine.com/config/gam.js
  sites/athleticbusiness.com/config/gam.js
  sites/woodfloorbusiness.com/config/gam.js
Labels: 🌐 site: ALL

#10 Initial Setup of AB buyers guide with section search & child section filtering.
  packages/global/browser/auto-scroll.vue
  packages/global/browser/index.js
  packages/global/components/directory-facets/facet-container/facet-container.marko
  packages/global/components/directory-facets/facet-container/marko.json
  packages/global/components/directory-facets/facet-list/facet-list.marko
  packages/global/components/directory-facets/facet-list/marko.json
  packages/global/components/directory-facets/facet.marko
  packages/global/components/directory-facets/find-active-facet.js
  packages/global/components/directory-facets/index.marko
  packages/global/components/directory-facets/marko.json
  packages/global/components/layouts/content/company.marko
  packages/global/components/marko.json
  packages/global/components/nodes/directory-section-feed-content.marko
  packages/global/components/nodes/marko.json
  packages/global/graphql/fragments/category-sections.js
  packages/global/graphql/fragments/directory-section-feed-block.js
  packages/global/graphql/fragments/website-directory-section-page.js
  packages/global/package.json
  packages/global/routes/directory.js
  packages/global/scss/components/_directory-facets.scss
  packages/global/scss/components/_page-wrapper.scss
  packages/global/scss/components/blocks/_directory-section-feed.scss
  packages/global/scss/core.scss
  packages/global/templates/directory/index.marko
  sites/aquamagazine.com/package.json
  sites/athleticbusiness.com/package.json
  sites/athleticbusiness.com/server/routes/index.js
  sites/woodfloorbusiness.com/package.json
  yarn.lock
Labels: 🌐 site: athleticbusiness.com

#16 Drop header magazine cover
  packages/global/components/site-header-2.marko
  packages/global/scss/components/_site-navbar2.scss
  sites/aquamagazine.com/server/styles/index.scss
  sites/athleticbusiness.com/server/styles/index.scss
  sites/woodfloorbusiness.com/server/styles/index.scss
Labels: 🌐 site: ALL

#18 Add support for header layout=a
  packages/global/components/blocks/static-premium-partners.marko
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/website-section/feed.marko
  packages/global/components/layouts/website-section/home.marko
  packages/global/scss/components/blocks/_premium-partners.scss
Labels: 🌐 site: ALL

#19 Implement header style a
  packages/global/components/blocks/static-premium-partners.marko
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/website-section/feed.marko
  packages/global/components/layouts/website-section/home.marko
  packages/global/scss/components/blocks/_premium-partners.scss
  sites/aquamagazine.com/server/templates/index.marko
  sites/athleticbusiness.com/server/templates/index.marko
  sites/woodfloorbusiness.com/server/templates/index.marko
Labels: 🌐 site: ALL

#21 Update logo srcset to use dpr=2
  sites/aquamagazine.com/config/site.js
  sites/athleticbusiness.com/config/site.js
  sites/woodfloorbusiness.com/config/site.js
Labels: 🌐 site: ALL

#22 Update directory facet & breadcrumb styling
  packages/global/components/layouts/content/default.marko
  packages/global/scss/components/_directory-facets.scss
  packages/global/scss/components/_page-wrapper.scss
  packages/global/templates/directory/index.marko
Labels: 🌐 site: ALL

#23 Update premium partners banner layout
  packages/global/components/blocks/static-premium-partners.marko
  packages/global/scss/components/blocks/_premium-partners.scss
Labels: 🌐 site: ALL

#27 Return & display sidebars on default content pages
  packages/global/components/layouts/content/default.marko
  packages/global/graphql/fragments/content-page.js
Labels: 🌐 site: ALL

#30 Replace top story with Resources menu items
  packages/global/components/site-menu/index.marko
  sites/aquamagazine.com/config/navigation.js
  sites/athleticbusiness.com/config/navigation.js
  sites/woodfloorbusiness.com/config/navigation.js
Labels: 🌐 site: ALL

#31 Add PHTA News to menu
  sites/aquamagazine.com/config/navigation.js
Labels: 🌐 site: aquamagazine.com

#33 Remove comma from company name
  sites/aquamagazine.com/config/site.js
  sites/athleticbusiness.com/config/site.js
  sites/woodfloorbusiness.com/config/site.js
Labels: 🌐 site: ALL

#28 Add AQUA Live to promo block & update arrangement of homepage layout
  sites/aquamagazine.com/server/components/blocks/promo-card-rotation.marko
  sites/aquamagazine.com/server/components/blocks/promos/aqua-live.marko
  sites/aquamagazine.com/server/components/blocks/promos/marko.json
  sites/aquamagazine.com/server/templates/index.marko
Labels: 🌐 site: aquamagazine.com

#38 Add link to opinion block title
  packages/global/components/blocks/opinion.marko
  packages/global/scss/components/blocks/_opinion.scss
Labels: 🌐 site: ALL

#37 Add directory routes
  sites/aquamagazine.com/server/routes/index.js
  sites/athleticbusiness.com/server/routes/index.js
  sites/woodfloorbusiness.com/server/components/blocks/promos/content-toolbox.marko
  sites/woodfloorbusiness.com/server/routes/index.js
Labels: 🌐 site: ALL

#39 Enable the real most popular block
  sites/aquamagazine.com/server/templates/content/company.marko
  sites/aquamagazine.com/server/templates/content/index.marko
  sites/aquamagazine.com/server/templates/content/product.marko
  sites/aquamagazine.com/server/templates/index.marko
  sites/aquamagazine.com/server/templates/website-section/index.marko
  sites/aquamagazine.com/server/templates/website-section/products.marko
  sites/athleticbusiness.com/server/templates/content/company.marko
  sites/athleticbusiness.com/server/templates/content/index.marko
  sites/athleticbusiness.com/server/templates/content/product.marko
  sites/athleticbusiness.com/server/templates/index.marko
  sites/athleticbusiness.com/server/templates/website-section/index.marko
  sites/athleticbusiness.com/server/templates/website-section/products.marko
  sites/woodfloorbusiness.com/server/templates/content/company.marko
  sites/woodfloorbusiness.com/server/templates/content/index.marko
  sites/woodfloorbusiness.com/server/templates/content/product.marko
  sites/woodfloorbusiness.com/server/templates/index.marko
  sites/woodfloorbusiness.com/server/templates/website-section/index.marko
  sites/woodfloorbusiness.com/server/templates/website-section/products.marko
Labels: 🌐 site: ALL

#40 Configure identityX and enable commenting
  packages/global/components/layouts/content/default.marko
  sites/aquamagazine.com/config/identity-x.js
  sites/athleticbusiness.com/config/identity-x.js
  sites/woodfloorbusiness.com/config/identity-x.js
Labels: 🌐 site: ALL

#42 Update company page layout
  packages/global/components/layouts/content/company.marko
  packages/global/scss/components/_content-page.scss
  sites/aquamagazine.com/server/templates/content/company.marko
  sites/athleticbusiness.com/server/templates/content/company.marko
  sites/woodfloorbusiness.com/server/templates/content/company.marko
Labels: 🌐 site: ALL

#43 Temporarily disable comments
  packages/global/components/identity-x/comment-stream.marko
Labels: 🌐 site: ALL

#44 Company related content layout
  packages/global/components/layouts/content/company.marko
  packages/global/components/nodes/section-feed-content.marko
  packages/global/scss/components/blocks/_section-feed.scss
Labels: 🌐 site: ALL

#45 Static newsletter signup block
  packages/global/components/blocks/marko.json
  packages/global/components/blocks/newsletter-signup-banner-static.marko
  packages/global/components/layouts/content/default.marko
  packages/global/scss/components/blocks/_newsletter-signup-banner-static.scss
  packages/global/scss/core.scss
Labels: 🌐 site: ALL

#49 Fix all the premium logos
  packages/global/components/blocks/static-premium-partners.marko
  sites/aquamagazine.com/config/premium-partners.js
  sites/athleticbusiness.com/config/premium-partners.js
  sites/woodfloorbusiness.com/config/premium-partners.js
Labels: 🌐 site: ALL

#51 Update ab favicons
  sites/athleticbusiness.com/server/public/android-chrome-192x192.png
  sites/athleticbusiness.com/server/public/android-chrome-512x512.png
  sites/athleticbusiness.com/server/public/apple-touch-icon.png
  sites/athleticbusiness.com/server/public/favicon-16x16.png
  sites/athleticbusiness.com/server/public/favicon-32x32.png
  sites/athleticbusiness.com/server/public/favicon.ico
Labels: 🌐 site: athleticbusiness.com

#52 Fix eMail and webiste company field labels
  packages/global/components/layouts/content/company-details.marko
Labels: 🌐 site: ALL

#55 Update favicons for aqua, wfb
  sites/aquamagazine.com/server/public/android-chrome-192x192.png
  sites/aquamagazine.com/server/public/android-chrome-512x512.png
  sites/aquamagazine.com/server/public/apple-touch-icon.png
  sites/aquamagazine.com/server/public/favicon-16x16.png
  sites/aquamagazine.com/server/public/favicon-32x32.png
  sites/aquamagazine.com/server/public/favicon.ico
  sites/woodfloorbusiness.com/server/public/android-chrome-192x192.png
  sites/woodfloorbusiness.com/server/public/android-chrome-512x512.png
  sites/woodfloorbusiness.com/server/public/apple-touch-icon.png
  sites/woodfloorbusiness.com/server/public/favicon-16x16.png
  sites/woodfloorbusiness.com/server/public/favicon-32x32.png
  sites/woodfloorbusiness.com/server/public/favicon.ico
Labels: 🌐 site: aquamagazine.com, 🌐 site: woodfloorbusiness.com

#53 Add video categories company page
  packages/global/components/blocks/directory-sections.marko
  packages/global/components/blocks/marko.json
  packages/global/components/layouts/content/company.marko
  packages/global/graphql/fragments/content-page.js
  packages/global/package.json
  packages/global/scss/components/blocks/_section-feed.scss
  packages/global/utils/get-directory-sections-from-schedules.js
  sites/aquamagazine.com/package.json
  sites/athleticbusiness.com/package.json
  sites/woodfloorbusiness.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#54 Set SignupBannerLarge.description
  sites/athleticbusiness.com/config/newsletter.js
Labels: 🌐 site: athleticbusiness.com

#47 Enable crawling
  sites/aquamagazine.com/server/public/robots.txt
  sites/athleticbusiness.com/server/public/robots.txt
  sites/woodfloorbusiness.com/server/public/robots.txt
Labels: 🌐 site: ALL

#56 Add support for more header logos
  packages/global/components/blocks/static-premium-partners.marko
  packages/global/scss/components/blocks/_premium-partners.scss
  sites/athleticbusiness.com/server/styles/index.scss
Labels: 🌐 site: ALL

#59 Compress promo images, fix premium partner image domains
  sites/aquamagazine.com/server/components/blocks/promos/aqua-live.marko
  sites/aquamagazine.com/server/components/blocks/promos/aqua-toolbox.marko
  sites/aquamagazine.com/server/components/blocks/promos/buyers-guide.marko
  sites/athleticbusiness.com/config/premium-partners.js
  sites/athleticbusiness.com/server/components/blocks/promos/ab-show.marko
  sites/athleticbusiness.com/server/components/blocks/promos/buyers-guide.marko
  sites/woodfloorbusiness.com/config/premium-partners.js
  sites/woodfloorbusiness.com/server/components/blocks/promos/content-toolbox.marko
  sites/woodfloorbusiness.com/server/components/blocks/promos/resource-book.marko
Labels: 🌐 site: ALL

#60 fix aqua live logo and promo card images
  packages/global/scss/components/blocks/_promo-card.scss
Labels: 🌐 site: ALL

#61 hide email and website when not set
  packages/global/components/layouts/content/company-details.marko
Labels: 🌐 site: ALL
