Repository parameter1/ab-media-websites, pull requests merged in 2022-08, with the labels that each got.

#201 Add inline newsletter block to WFB homepage
  sites/woodfloorbusiness.com/server/templates/index.marko
Labels: 🌐 site: woodfloorbusiness.com

#206 Add ‘Content Library’ to menu
  sites/aquamagazine.com/config/navigation.js
Labels: 🌐 site: aquamagazine.com

#207 Upgrade @parameter1/base-cms-marko-web-p1-events package & fix identity-builder function call
  packages/global/components/document.marko
  packages/global/package.json
  yarn.lock
Labels: bug
