Repository parameter1/ab-media-websites, pull requests merged in 2022-10, with the labels that each got.

#229 Assert children companies exist before retrieval on company pages
  packages/global/components/layouts/content/company.marko
Labels: bug, 🌐 site: ALL

#230 Add scrollmagic
  packages/broadstreet/package.json
  packages/global/components/document.marko
  packages/global/package.json
  sites/aquamagazine.com/package.json
  sites/athleticbusiness.com/package.json
  sites/woodfloorbusiness.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#231 Set logo widths + heights
  sites/aquamagazine.com/config/site.js
  sites/athleticbusiness.com/config/site.js
  sites/woodfloorbusiness.com/config/site.js
Labels: 🌐 site: ALL

#233 Add width + height to primary image
  packages/global/graphql/fragment-factories/content-page.js
  packages/global/graphql/fragments/content-page.js
Labels: 🌐 site: ALL

#238 Adjust defaults for Leaders header logo, AQUA.
  sites/aquamagazine.com/config/leaders.js
Labels: 🌐 site: aquamagazine.com
